Example to analyze some COVID data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
udemy = pd.read_csv("04-12-2020.csv")

In [3]:
udemy.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-04-12 23:18:15,32.3182,-86.9023,3563,93,NaN,3470,1.0,75.988020,21583.0,437.0,2.610160,84000001,USA,460.300152,12.264945
1,Alaska,US,2020-04-12 23:18:15,61.3707,-152.4044,272,8,66.0,264,2.0,45.504049,8038.0,31.0,2.941176,84000002,USA,1344.711576,11.397059
2,Arizona,US,2020-04-12 23:18:15,33.7298,-111.4312,3542,115,NaN,3427,4.0,48.662422,42109.0,NaN,3.246753,84000004,USA,578.522286,NaN
3,Arkansas,US,2020-04-12 23:18:15,34.9697,-92.3731,1280,27,367.0,1253,5.0,49.439423,19722.0,130.0,2.109375,84000005,USA,761.753354,10.156250
4,California,US,2020-04-12 23:18:15,36.1162,-119.6816,22795,640,NaN,22155,6.0,58.137726,190328.0,5234.0,2.812020,84000006,USA,485.423868,22.961176

In [4]:
udemy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Province_State        59 non-null     object
 1   Country_Region        59 non-null     object
 2   Last_Update           56 non-null     object
 3   Lat                   56 non-null     float64
 4   Long_                 56 non-null     float64
 5   Confirmed             59 non-null     int64
 6   Deaths                59 non-null     int64
 7   Recovered             29 non-null     float64
 8   Active                59 non-null     int64
 9   FIPS                  57 non-null     float64
 10  Incident_Rate         56 non-null     float64
 11  People_Tested         56 non-null     float64
 12  People_Hospitalized   49 non-null     float64
 13  Mortality_Rate        57 non-null     float64
 14  UID                   59 non-null     int64
 15  ISO3                  59 non-null     object
 16  Testing_Rate          56 non-null     float64
 17  Hospitalization_Rate  49 non-null     float64
dtypes: float64(10), int64(4), object(4)
memory usage: 8.4+ KB

In [5]:
udemy.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,Testing_Rate,Hospitalization_Rate
count,56.000000,56.000000,59.000000,59.00000,29.000000,59.000000,57.000000,56.000000,56.000000,49.000000,57.000000,5.900000e+01,56.000000,49.000000
mean,36.840089,-85.206618,9412.084746,373.20339,2315.137931,8479.762712,63.701754,132.096557,50105.214286,1882.673469,3.177029,7.688581e+07,939.956205,14.365214
std,10.887035,49.754455,25898.520388,1256.83882,7350.913086,25229.041344,170.527225,180.366308,71442.430285,6122.105749,2.417004,2.359629e+07,520.114034,6.474484
min,-14.271000,-170.132200,0.000000,0.00000,0.000000,-32988.000000,1.000000,0.000000,3.000000,3.000000,0.000000,1.600000e+01,5.391708,4.676754
25%,34.594600,-101.165775,728.500000,17.50000,83.000000,712.000000,18.000000,51.592214,10866.500000,129.000000,2.109375,8.400001e+07,606.173065,9.310590
50%,39.061850,-87.944200,1970.000000,70.00000,236.000000,1874.000000,32.000000,71.401808,26651.500000,437.000000,2.812020,8.400003e+07,793.614360,12.662338
75%,42.361650,-76.970625,7617.500000,268.00000,493.000000,7301.500000,47.000000,124.342038,56374.500000,1654.000000,3.949224,8.400004e+07,1178.897217,19.705142
max,61.370700,145.673900,189033.000000,9385.00000,32988.000000,179648.000000,999.000000,1121.124012,461601.000000,42594.000000,18.181818,8.410000e+07,2737.680538,29.497274